DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
SITE_URL=http://localhost:8000

USE_POSTGRES=True
POSTGRES_DB=ppgec
POSTGRES_USER=ppgec
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@ppgec.local
PGADMIN_DEFAULT_PASSWORD=change-me
PGADMIN_PORT=5050

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
